@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta-sans), sans-serif;

  /* Brand colors Monify */
  --color-primary: #f29d27;
  --color-primary-light: #f8cd91;
  --color-background: #fffbf6;
}
